.card-button {
    padding: 10px 12px;
    border: 1px solid #6c757d;
    border-radius: 6px;
    background-color: #6c757d;
    color: #f8f9fa;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.2s ease;
    margin: 5px;
}

.card-button:hover {
    border-color: #999;
}

    .card-button:disabled {
        background: #6c757d;
        color: #f8f9fa;
        cursor: default;
        opacity: 0.6;
    }

.card-checkbox {
    width: 17px;
    height: 17px;
}

.text-input {
    padding: 10px 12px;
    border: 1px solid #6c757d;
    background-color: #6c757d;
    border-radius: 6px;
    color: #f8f9fa;
    font-size: 14px;
    outline: none;
}

    .text-input:disabled {
        background: #6c757d;
        color: #f8f9fa;
        cursor: default;
        opacity: 0.6;
    }

    .color-red {
        color: red;
    }

.add-btn {
    padding: 10px 12px;
    border: 1px solid #6c757d;
    border-radius: 6px;
    background-color: #6c757d;
    color: #f8f9fa;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.2s ease;
    margin: 5px;
}

.daycare-selector .dropdown-options {
    text-align: left !important;
}

::placeholder {
    color: #f8f9fa;
}

.nav-button a {
    color: #f8f9fa;
    text-decoration: none !important;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

/*
    Source - https://stackoverflow.com/a/22306944
    Posted by JayD, modified by community. See post 'Timeline' for change history
    Retrieved 2026-07-03, License - CC BY-SA 4.0
    */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}